@font-face {
    font-family: 'Bezaen';
    src: url('../fonts/Bezaen.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellerose', sans-serif;
    color: white;
}

body {
    background-color: #2a2d32;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: url('../img/header.gif') center/cover no-repeat;
    text-align: center;
    padding: 50px 20px;
}

h1.nombre {
    font-family: 'Bezaen', sans-serif;
    font-size: 6.5em;
}

header h2 {
    font-size: 2.5em;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

.gallery a {
    text-decoration: none;
    color: white;
    text-align: center;
    flex: 1 1 280px;
    max-width: 300px;
}

.gallery img {
    width: 300px;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    border: 3px solid rgb(0, 215, 4);
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    font-size: 30px;
    background: #222;
    text-align: center;
    padding: 20px;
}