@font-face {
    font-family: 'Bezaen';
    src: url('../fonts/Bezaen.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellerose', sans-serif;
    color: white;
}

body {
    background-color: #2a2d32; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: url('../img/header.gif') center/cover no-repeat;
    text-align: center;
    padding: 50px 20px;
}

h1.nombre {
    font-family: 'Bezaen', sans-serif;
    font-size: 6.5em;
}

header h2 {
    font-size: 2.5em;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

#Conoceme {
    text-align: center;
    padding: 60px 20px;
    background: #3a3d42;
}

#Conoceme h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
}

#Conoceme p {
    max-width: 800px;
    margin: auto;
    font-size: 1.4em;
    line-height: 1.8;
    margin-bottom: 30px;
}

#foto-perfil {
    width: 250px;
    height: 250px;
    object-fit: cover; 
    border-radius: 50%;
    border: 4px solid rgb(0, 215, 4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    display: block; 
    margin: 20px auto; 
}

.contenedor-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.iconos-skills, .soft-skills {
    width: 450px;
    max-width: 100%;
}

.soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 15px;
    border: 4px solid rgb(45, 215, 48);
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.3);
}

.soft-skills h3 {
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.soft-skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.soft-skills li {
    font-size: 1.6em;
    margin: 12px 0;
}

.iconos-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 15px;
    justify-content: center;
}

.iconos-skills img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.iconos-skills img:hover {
    transform: scale(1.2);
}

#proyectos {
    background: #3a3d42;
    text-align: center;
    padding: 60px 20px;
}

#proyectos h2 {
    font-size: 3em;
    margin-bottom: 40px;
}

.proyectos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.proyecto {
    width: 48%;
    height: 900px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.proyecto-web {
    background-image: url('../img/web_projecto.jpg');
}

.proyecto-3d {
    background-image: url('../img/3d_projecto.jpg');
}

.proyecto::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: background 0.3s ease-in-out;
    border-radius: 15px;
}

.proyecto:hover::before {
    background: rgba(0, 0, 0, 0.4); 
}

.proyecto span {
    position: relative;
    z-index: 1;
    font-size: 50px;
}

@media (max-width: 768px) {
    .proyectos-container {
        flex-direction: column;
        gap: 15px;
    }

    .proyecto {
        width: 90%;
        height: 150px;
        font-size: 1.4em;
    }
}

#contacto {
    text-align: center;
    padding: 50px 20px;
    background: #3a3d42;
    margin-top: auto;
}

#contacto h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contacto-iconos {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.contacto-iconos a {
    font-size: 4.5em;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contacto-iconos a:hover {
    transform: scale(1.2);
}

footer {
    font-size: 30px;
    background: #222;
    text-align: center;
    padding: 20px;
}